.btn1{
    background-color: rgb(255, 0, 200);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.btn2{
    background-color: rgb(17, 0, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.card{
    background-color: rgb(148, 148, 148);
}
.btn-group{
    text-align: center;
}
.btn0{
    background-color: rgb(1, 100, 18);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.btn0:hover{
    background-color: rgb(0, 255, 0);
    color: #000;
}